.navbar_container {
    background-color: white;
    padding: 2rem 4rem;
    display: flex;
    justify-content: space-between;
}

.cart_logo {
    display: flex;
}

.HM {
    width: 4rem;
    height: 2rem;
}

.badge {
    height: 1.5rem;
    text-align: center;
    padding: 0.5rem 0.5rem;
}

@media screen and (max-width: 700px) {
    .navbar_container {
        padding: 1.5rem 2rem;
        display: flex;
        justify-content: space-between;
    }

    .HM {
        width: 3.8rem;
        height: 1.8rem;
    }
}